{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Все товары</h1>

    {% for product in products %}
        <div>
            {% if product.image %}
                <img src="{{ product.image.url }}" width="200">
            {% endif %}
            <h3><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h3>
            <p>{{ product.description|truncatechars:100 }}</p>
            <p>{{ product.price }} ₽</p>
        </div>
    {% empty %}
        <p>Пока товаров нет.</p>
    {% endfor %}
{% endblock %}
